/* memberListContainer */
.container {
	width: 100%;
	height: auto;
	background: #f1f1f1;
}

.container .inner-container {
	width: 100%;
	height: auto;
}

.container .inner-container .memberList {
	width: 100%;
	height: auto;
}

.container .inner-container .memberList .sections {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}

.container .inner-container .memberList .sections .section.sec1 {
	flex: 0 1 1000px;
}

.container .inner-container .memberList .sections .section.sec1 .sec-con {
	padding: 50px 0 100px;
}
.container .inner-container .memberList .sections .section.sec1 .sec-con table{
	width: 100%;
	background: #ffffff;
	padding: 0 50px 30px ; 
}
td{
	border: 1px solid #555555;
	border-collapse: collapse;
	padding: 5px;
	box-sizing: border-box;
}
.container .inner-container .memberList .sections .section.sec1 .sec-con table th h1
	{
	line-height: 50px;
	padding: 20px 0;
	text-align: center;
}
.container .inner-container .memberList .sections .section.sec1 .sec-con table tbody{
	background: #eeeeee;
}
.container .inner-container .memberList .sections .section.sec1 .sec-con table tbody tr td
	{
	padding: 10px;
	box-sizing: border-box;
	line-height: 20px;
	text-align: center;
}
.container .inner-container .memberList .sections .section.sec1 .sec-con table tbody tr td:nth-child(1){
	text-align: center;
	font-weight: bold;
}
.container .inner-container .memberList .sections .section.sec1 .sec-con table tbody tr td a{
	color: #ffffff;
}
.container .inner-container .memberList .sections .section.sec1 .sec-con table tbody tr td a:hover{
	color: #000000;
}
.container .inner-container .memberList .sections .section.sec1 .sec-con table tbody tr td label
{
	/*width:100%;
	display: block;
	text-align: center;*/
	
}
.container .inner-container .memberList .sections .section.sec1 .sec-con table tbody tr td input
	{
	line-height: 20px;
}

.container .inner-container .memberList .sections .section.sec1 .sec-con table tfoot td
	{
	text-align: center;
	padding: 5px 0;
	}
.container .inner-container .memberList .sections .section.sec1 .sec-con table tfoot td input[type=button]
	{
	padding: 5px 40px;
	
}